<template>
  <div>
    <h2>Events for {{ user.user.name }}</h2>
    <EventCard v-for="event in event.events" :key="event.id" :event="event" />
    <template v-if="page != 1">
      <router-link
        :to="{ name: 'event-list', query: { page: page - 1 } }"
        class="prev-btn"
        rel="prev"
      >Prev Page</router-link>
    </template>
    <template v-if="hasNextPage">
      <router-link
        class="next-btn"
        :to="{ name: 'event-list', query: { page: page + 1 } }"
      >Next Page</router-link>
    </template>
  </div>
</template>

<script>
import EventCard from "@/components/EventCard.vue";
import { mapState } from "vuex";
import store from "@/store/index";

const getPageEvents = (routeTo, next) => {
  const currentPage = parseInt(routeTo.query.page || 1);
  store
    .dispatch("event/fetchEvents", {
      page: currentPage
    })
    .then(() => {
      routeTo.params.page = currentPage;
      next();
    });
};

export default {
  props: {
    page: {
      type: Number,
      required: true
    }
  },
  components: {
    EventCard
  },
  beforeRouteEnter(routeTo, routeFrom, next) {
    // Before entering the route
    getPageEvents(routeTo, next);
  },
  beforeRouteUpdate(routeTo, routeFrom, next) {
    // Before updating the route
    getPageEvents(routeTo, next);
  },
  computed: {
    hasNextPage() {
      return this.event.eventsTotal > this.page * this.event.perPage;
    },
    ...mapState(["event", "user"])
  }
};
</script>

<style>
.prev-btn {
  margin-right: 0.8rem;
}
</style>

