<template>
  <div>
      <h3>🛑 It looks like you're experiencing some network issues. Please click the back button and try again.</h3>
      <router-link :to="{name: 'event-list'}">
          Go back to Events List
      </router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>