<template>
  <div>
    <h1> 🛑 Sorry, the <template v-if="resource">{{resource}}</template> page you are looking for is not found. </h1>
    <router-link :to="{name: 'event-list'}">
      Back to Home Page
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    resource: {
      type: String,
      required: true
    }
  }
}
</script>

<style>

</style>


