<template>
  <div class="notification-bar" :class="notificationTypeClass">
    <h3>{{ notification.message }}</h3>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      timeout: null
    };
  },
  mounted() {
    this.timeout = setTimeout(() => this.remove(this.notification), 5000);
  },
  beforeDestroy() {
    clearTimeout(this.timeout);
  },
  props: {
    notification: {
      type: Object,
      required: true
    }
  },
  computed: {
    notificationTypeClass() {
      return `-text-${this.notification.type}`;
    }
  },
  methods: mapActions("notification", ["remove"])
};
</script>

<style scoped>
.notification-bar {
  margin: 1em 0 1em;
}
.notification-bar h3 {
  color: green;
}
</style>
