<template>
  <div>
    <NotificationBar
      v-for="notification in notifications"
      :key="notification.id"
      :notification="notification"
    />
  </div>
</template>

<script>
import NotificationBar from "@/components/NotificationBar";
import { mapState } from "vuex";

export default {
  components: { NotificationBar },
  computed: mapState("notification", ["notifications"])
};
</script>

<style scoped>
/* .notification-bar {
  position: fixed;
  bottom: 0;
} */
</style>